<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LobsterWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <LobsterWpf.Properties.Settings>
            <setting name="DiffProgramName" serializeAs="String">
                <value>tortoisemerge</value>
            </setting>
            <setting name="DiffProgramArguments" serializeAs="String">
                <value>/mine:"{0}" /theirs:"{1}"</value>
            </setting>
            <setting name="DiffableExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.html</string>
                        <string>.txt</string>
                        <string>.xml</string>
                        <string>.xmls</string>
                        <string>.xmlp</string>
                        <string>.js</string>
                        <string>.css</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SuccessSoundFile" serializeAs="String">
                <value>Resources/Audio/success.wav</value>
            </setting>
            <setting name="FailureSoundFile" serializeAs="String">
                <value>Resources/Audio/failure.wav</value>
            </setting>
        </LobsterWpf.Properties.Settings>
    </userSettings>
</configuration>
