<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lobster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client" />
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
        <remove invariant="MySql.Data.MySqlClient" /><add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no" />
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
          <dataSources>
              <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
    <userSettings>
        <Lobster.Properties.Settings>
            <setting name="ConnectionDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffableExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.html</string>
                        <string>.txt</string>
                        <string>.xml</string>
                        <string>.xmls</string>
                        <string>.xmlp</string>
                        <string>.js</string>
                        <string>.css</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DiffProgramName" serializeAs="String">
                <value>tortoisemerge</value>
            </setting>
            <setting name="DiffProgramArguments" serializeAs="String">
                <value>/mine:{0} /theirs:{1}</value>
            </setting>
            <setting name="BalloonPopupDurationMS" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SettingsDirectoryName" serializeAs="String">
                <value>LobsterSettings</value>
            </setting>
            <setting name="MediaDirectoryName" serializeAs="String">
                <value>media</value>
            </setting>
            <setting name="SuccessSoundFilename" serializeAs="String">
                <value>success.wav</value>
            </setting>
            <setting name="FailureSoundFilename" serializeAs="String">
                <value>failure.wav</value>
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value>lobster.log</value>
            </setting>
            <setting name="BackupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatabaseConfigSchemaFilename" serializeAs="String">
                <value>LobsterSettings/DatabaseConfig.xsd</value>
            </setting>
            <setting name="TempFileDirectory" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ClobTypeSchemaFilename" serializeAs="String">
                <value>LobsterSettings/ClobType.xsd</value>
            </setting>
            <setting name="BackupDirectory" serializeAs="String">
                <value>backup</value>
            </setting>
        </Lobster.Properties.Settings>
    </userSettings>
</configuration>
